﻿@{
    ViewBag.Title = "Home";
}

<div class="row" id="model-anchor">

    <div class="col-xs-6">
        <h3>Search</h3>
        <form>
            <div class="form-group">
                <input data-bind="value: number" id="query" type="text" class="form-control" placeholder="Branch Number" />
            </div>
            <button class="btn btn-primary form-control" data-bind="click: search">Search</button>
        </form>

    </div>
    <div class="col-xs-6">
        <!-- All this could look a lot nicer, obviously -->
        <h3>Results</h3>
        <!-- ko if: loading-->
        Loading...
        <!-- /ko -->
        <!-- ko ifnot: loading-->
        <!--ko ifnot: searchRun()-->
        Search to find results....
        <!-- /ko -->
        <!--ko if: searchRun() && !results()-->
        No Branch Found
        <!-- /ko -->
        <!-- ko if: searchRun() && results()-->
        <label>Branch Name</label>
        <div data-bind="text: branch().name"></div>
        <label>Branch Number</label>
        <div data-bind="text: branch().number"></div>
        <label>Specialisms</label>
        <!--ko foreach: branch().specialisms-->
        <div>
            Id: <span data-bind="text: id"></span> Name: <span data-bind="text: name"></span>

        </div>
        <!--ko if: description-->
        <div>
            Description: <span data-bind="text: description"></span>

        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>

@section scripts{
    <script src="~/Scripts/knockout.js"></script>
    <script src="~/Scripts/knockout.mapping.js"></script>
    <script src="~/Scripts/ViewModels/BranchViewModel.js"></script>
    <script src="~/Scripts/ViewModels/HomeViewModel.js"></script>
    <script src="~/Scripts/home.js"></script>
}